
::ng-deep .search-component {
  height: 10vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
::ng-deep .mat-snack-bar-container{
  background-color: darkmagenta !important;
  color: pink;
}


#search-box {
  width: 200px;
  height: 20px;
 
}
button {
  border-radius: 10px;
}


